<div class="card container">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id mollitia nostrum repellendus nulla veniam minus hic, cupiditate, commodi esse facere eum dolor laborum sapiente! Quaerat illum distinctio libero laboriosam veritatis.</p>
    </div>
</div>